<h1>About Sterntrest</h1>
<p>Sterntrest is a site about finding what's now, what is trending...from the ground up. </p>
<p><b>What will you post?</b></p>
<p><br><i>But really...I'm here to learn buildilng a site from the ground up, how to understand the DNA of FEWD and the bloodstream of how it flows. Join me on my journey to bild Sterntrest.</i></p>