
<div class="jumbotron">
	<h1>Welcome to Sterntrest!</h1>
	<p>Sterntrest allows you to post cool pictures and share them with friends and the world.</p>
	<p>Start Sterning today <%= link_to "here", "#", class: "btn btn-primary btn-lg" %></p>
</div>